
section {
    margin-top: 1em;
}

h3 {
    margin-bottom: .4em;
}

textarea {
    min-height: 14.2em;
}

.source-files {
    margin-top: 1em;

    .uk-list > li > button {
      margin-left: 0.5em;
    }
}

.file-selector {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}
