[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_prefer_braces = true : warning
csharp_style_var_elsewhere = false : warning
csharp_style_var_for_built_in_types = false : warning
csharp_style_var_when_type_is_apparent = false : warning
csharp_style_inlined_variable_declaration = true : warning
csharp_space_between_method_call_parameter_list_parentheses = true
