@* 
 *
 * Copyright (c) 2019 João Pedro Martins Neves (shivayl) - All Rights Reserved.
 *
 * ClassStudio is licensed under the GNU Lesser General Public License (LGPL),
 * version 3, located in the root of this project, under the name "LICENSE.md".
 *
 *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClassStudio - @ViewData["Title"]</title>
    @* EXTERNAL CSS LIBS *@
    <link rel="stylesheet" href="~/lib/uikit/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @* LOCAL CSS FILES *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    @await Html.PartialAsync( "_Header" )

    <div class="uk-container uk-container-expand">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ClassStudio
        </div>
    </footer>

    @* LOCAL EXTERNAL LIBS *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/uikit/dist/js/uikit.min.js"></script>
    <script src="~/lib/uikit/dist/js/uikit-icons.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>*@
    <script src="~/lib/systemjs/dist/system.min.js"></script>
    <script src="~/lib/systemjs/dist/extras/named-register.min.js"></script>
    @* LOCAL JS FILES *@
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/start.js" asp-append-version="true"></script>
    @RenderSection( "Scripts", required: false )

</body>
</html>
