@model ClassStudio.UI.Models.IndexViewModel

@{
    ViewData["Title"] = "Class Generator";
}

<section id="input-section">
    <h3>Input</h3>

    @await Html.PartialAsync( "Components/_Select", Model.InputTypeSelector )

    <textarea id="input-code" class="uk-textarea" required></textarea>
    <button id="compile-btn" class="uk-button uk-button-default">Complile</button>

</section>

<section id="output-section">
    <h3>Output</h3>
    @await Html.PartialAsync( "Components/_Select", Model.InputTypeSelector )

    <textarea id="output-textarea" class="uk-textarea" readonly></textarea>
</section>
