@*
    *
    * Copyright (c) 2019 João Pedro Martins Neves (shivayl) - All Rights Reserved.
    *
    * ClassStudio is licensed under the GNU Lesser General Public License (LGPL),
    * version 3, located in the root of this project, under the name "LICENSE.md".
    *
*@

@model ClassStudio.UI.Models.Components.SelectViewModel

<div uk-form-custom="target: > * > span:first-child">

    <select id="@Model.Id" name="@Model.Id">

        @for (int i = 0; i < Model.Options.Count; ++i)
        {
            <option value="@Model.Options[i].Value">@Model.Options[i].Label</option>
        }

    </select>

    <button class="uk-button uk-button-default" type="button" tabindex="-1">
        <span></span>
        <span uk-icon="icon: chevron-down"></span>
    </button>

</div>
