
<!-- TODO: Migrate from ASP to Angular -->
<!-- TODO: Migrate from Bootstrap to UiKit -->
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClassStudio</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">

          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Class Generator</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>

<div class="uk-container uk-container-expand">
  <main role="main" class="pb-3">

    <router-outlet></router-outlet>

  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="uk-container">
    &copy; 2019 - ClassStudio v0.2.0
  </div>
</footer>
